### Python/Django files
__pycache__/
*.py[cod]
*$py.class
wheels/
*.egg-info/
.installed.cfg
*.egg
.coverage
coverage.xml
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
*.sqlite3
pip-log.txt
pip-delete-this-directory.txt
staticfiles/
/mariaejose.log
/apimock/node_modules

# terraform, ansible & devops
devops/infra/prod/prod
.terraform/
.terraform*
*.tfstate
*.pem
devops/ansible/*-vault.txt

# C extensions
*.so

# Environments
.idea/
.venv
venv/
ENV/
.python-version
