{% extends 'core/base_core.html' %} {% load static %} {% load floppyforms %}
{%block content %}

<section id="about" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title">Cerimônia Religiosa</h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2><strong>Capela Nossa Senhora da Paz</strong></h2>
        <h3>Rua João Leite de Oliveira, 319 - Encosta do Sol</h3>
        <h3>Juiz de Fora/MG</h3>
        <h4>
          <strong
            ><a
              target="_blank"
              href="https://www.google.com.br/maps/dir//Capela+Nossa+Senhora+da+Paz+-+Rua+Jo%C3%A3o+Leite+de+Oliveira+-+Encosta+do+Sol,+Juiz+de+Fora+-+MG/@-21.7394321,-43.4010741,16.75z/data=!4m9!4m8!1m0!1m5!1m1!1s0x989c045f04c72f:0xf5123204c2c4710!2m2!1d-43.4003091!2d-21.7389039!3e0!5m1!1e4?hl=pt&entry=ttu"
              ><i class="fa fa-map-marker"></i> Ver mapa</a
            ></strong
          >
        </h4>
        <p><br /></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <p>
          <img
            width="100%"
            src="{% static 'themes/default/img/imagem-cerimonia.png' %}"
          />
        </p>
      </div>
      <div class="col-xs-2"></div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <center>
          <p><br /></p>
          <p>
            <a class="btn btn-default btn-lg" href="{% url 'core.showhome' %}"
              >Ir para página principal</a
            >
            <a
              class="btn btn-warning btn-lg"
              href="{% url 'listapresentes.home' %}"
              >Lista de Presentes</a
            >
          </p>
        </center>
      </div>
    </div>
  </div>
</section>
{% endblock content %} {% block extrajs_bottom %}
<script type="text/javascript">
  $(window).load(function () {
    "use strict";
    $("body").delay(350).css({
      overflow: "visible",
    });
  });
</script>
{% endblock extrajs_bottom %}
